<section class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="search-form">Từ Khóa</label>
            <input type="text" name="search" class="form-control" id="search-form" >
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</section>